flask>=2.2.5
flask-cors>=4.0.1
gunicorn>=22.0.0
bcrypt==4.1.2
requests>=2.31.0
openai==0.28.0
Werkzeug>=2.2.3
replicate==0.7.0
urllib3>=1.26.18
SQLAlchemy==2.0.30
Flask-SQLAlchemy==3.0.5
greenlet==3.0.3
protobuf==4.21.12
grpcio-tools==1.53.0
stability-sdk==0.8.1
fal-client



# add other dependencies 