<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   
    <meta name="theme-color" content="#ffffff">
    <!-- //end icons for mobile -->
    <title>ADEM Studio</title>
    
        <link rel="icon" href="static/img/adem-img/favicon.svg" type="image/svg+xml">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script id='sc-script' src="https://cdn.smartcat-proxy.com/de10bee7679942e5b623ea375f520920/script-v1/__translator.js?hash=c1e4a26903725fa3dca2056d434674a7"></script>
   <!-- Open Graph para LinkedIn y otras plataformas -->
    <meta property="og:title" content="ADEM Studio">
    <meta property="og:description" content="Find inspiration to develop your projects. Sell ideas to clients without big investment. Communicate your ideas to your team faster.">
    <meta property="og:image" content="https://adem.studio/static/img/adem-img/featured.png">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="832">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://adem.studio">

    <!-- Twitter Cards para Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ADEM Studio">
    <meta name="twitter:description" content="Find inspiration to develop your projects. Sell ideas to clients without big investment. Communicate your ideas to your team faster.">
    <meta name="twitter:image" content="https://adem.studio/static/img/adem-img/featured.png">

</head>
<body> 
    
    <div class="loginBox">
   

            <h2 class="loginTitle" style="display: none">Access ADEM</h2>

   <div class="loginModal">
       <div class="orb">

    
</div>
             <div class="loginLogo">
<h1><img src="static/img/adem-img/logo_full_01.svg"></h1><p>Unleash your imagination with AI</p>
               

        </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="loginForm" action="{{ url_for('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password"  name="password" autocomplete="current-password" required>
                <button type="submit" class="gradient-animation">Log in</button>
            </form>
        </div>
           <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>
</body>
</html>
