<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   
    <meta name="theme-color" content="#ffffff">
    <!-- //end icons for mobile -->
    <title>Room DesAigner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script id='sc-script' src="https://cdn.smartcat-proxy.com/de10bee7679942e5b623ea375f520920/script-v1/__translator.js?hash=c1e4a26903725fa3dca2056d434674a7"></script>

</head>
<body> 
    
    <div class="loginBox">
   

            <h2 class="loginTitle" style="display: none">Access Room DesAigner</h2>

   <div class="loginModal">
       <div class="orb">

    
</div>
             <div class="loginLogo">
                 <h1>ADEM</h1>
<p>Unleash your imagination with AI</p>

        </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="loginForm" action="{{ url_for('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password"  name="password" autocomplete="current-password" required>
                <button type="submit" class="gradient-animation">Log in</button>
            </form>
        </div>
           <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>

        </div>
</body>
</html>
