<!-- templates/signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- icons for mobile -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- //end icons for mobile -->
    <title>Room DesAigner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script id='sc-script' src="https://cdn.smartcat-proxy.com/de10bee7679942e5b623ea375f520920/script-v1/__translator.js?hash=c1e4a26903725fa3dca2056d434674a7"></script>

</head>
<body>
    
    <div class="loginBox">
    <div class="loginLogo">                   <img class="logoWeb" src="/static/img/logo_web_light.svg" alt="logo Room DesAigner">

                        <img class="logoApp" src="static/img/logoApp.svg">

        </div>

            <h2 class="loginTitle">Sign Up to  Room DesAigner</h2>

          <div class="loginModal">
            <img src="{{ url_for('static', filename='img/modal_img/signup.svg') }}">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                         <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="loginForm" action="{{ url_for('signup') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="theinteriorist">
                <small>You will need your username to login</small>
                <label for="email">Email:</label>
<input type="email" id="email" name="email" required placeholder="mary@jane.com">
                <small>Your email is secure and will be used if you decide to upgrade. No spam will be send.</small>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="impossibletoknow">
                                <small>You're free to decide your password, be wise, write an strong one.</small>

                
                <button type="submit"  class="buttonExt gradient-animation" >Start dreaming</button>
            </form>
        </div>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
         </div>
</body>
</html>