<!-- templates/upgrade.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- icons for mobile -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- //end icons for mobile -->
    <title>Room DesAigner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Varela+Round&display=swap" rel="stylesheet">
     <script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css"/>


    <script src="https://apis.google.com/js/api:client.js"></script>
    <script id='sc-script' src="https://cdn.smartcat-proxy.com/de10bee7679942e5b623ea375f520920/script-v1/__translator.js?hash=c1e4a26903725fa3dca2056d434674a7"></script>
    <style>html, body {background:#f6f6f6}.testim .cont div p {
    font-size: 1.15em;
    color: #1f1f1f;
    width: 80%;
    margin: auto;
}</style>
</head>
<body>
   <div class="loginBox">
    <div class="loginLogo">                   <img class="logoWeb" src="/static/img/logo_web_dark.svg" alt="logo Room DesAigner">

                        <img class="logoApp" src="static/img/logoApp.svg">
            <h1 class="pricing-card-title">Unlock the Potential of Every Space with RoomDesAigner</h1>


        </div>

          <div class="loginModal" style="background: #f6f6f6;width: fit-content;padding:0">
              
              <div class="loginForm upgradeForm">
                  <div class="boxExpert">
        <!--    <section class="priceBox"><h1>Pay as you Go<br><span>4.99€</span><small style="
    font-size: 12px;
    padding: 0 40px;
    margin-top: 18px;
">While other services charge up to €24.00 with mandatory renewals, we offer the flexibility to pay only as per your needs. No recurring fees, just pay for what you use.</small>

</h1>
<ul><li class="liOne">🌟 100 Coins Added to Your Account &#9432;
</li>
    
    <li class="liTwo">🌈 Unleash Your Creativity with Up to 50 Photo Uploads &#9432;
</li>
    
    <li class="liThree">🎨 Generate Up to 200 Stunning Images &#9432;
</li>
    
    <li class="liFour">💼 Commercial Use Enabled &#9432;

</li>
    
    <li class="liFive">🚫 No Hidden Fees &#9432;
</li></ul>
                
                <button onclick="window.open('https://roomdesaigner.lemonsqueezy.com/', '_blank')" class="buttonExt gradient-animation">Get Coins Now</button>
                
                <span style="
    font-size: 12px;
    text-align: center;
    padding: 0 36px 36px;
">ℹ️ After completing your purchase, it may take up to 30 minutes for the coins to reflect in your account. We recommend refreshing your browser after this period to see your updated coin balance.<br>
ℹ️ You must have an account on Room DesAigner, create one <a href="/signup">here</a>.</span>
</section> -->
       
                      
                      <section class="priceBox" style="background: #1fdab91a;
    border-radius: 12px;
    margin-top: 30px;">
                      
                     
<div class="pricing-card">
   
    
    <div class="pricing-card-content">
        <div class="image-container">
   

<div style="margin: 0 auto; text-align:center; border-radius:24px; overflow:hidden;">
<img-comparison-slider style="margin: 0 auto">
  <img slot="first" src="https://img1.wsimg.com/isteam/ip/8927dd3e-5810-4ebc-a084-2ce47e9e6a81/before.png">
  <img slot="second" src="https://img1.wsimg.com/isteam/ip/8927dd3e-5810-4ebc-a084-2ce47e9e6a81/after.png">
</img-comparison-slider>
</div>
  </div>
         
    
     <p class="pricing-card-subtitle">Transforming Real Estate and Interior Design with Unparalleled Visuals</p>
    
    
        <p class="pricing-card-subtitle">Are you in Real Estate or Interior Design looking to dazzle your clients with visuals that sell the narrative? RoomDesAigner is your partner in envisioning a space that captivates and accelerates sales.</p>
                         
                  </div>
          </div>       
                      
                      </section>
                           <section class="priceBox"><div class="pricing-card">
   
    
    <div class="pricing-card-content">
      
        <h2>What We Offer:</h2>
        <ul>
            <li><strong>Expertly Crafted Visuals:</strong> AI-powered technology for life-like designs.</li>
            <li><strong>Speed and Precision:</strong> High-resolution images delivered in two business days.</li>
            <li><strong>Customized Designs:</strong> Tailored visuals for every unique space.</li>
            <li><strong>Client Engagement:</strong> Realistic portrayals to showcase property potential.</li>
        </ul>

        <h2>Your Brand, Your Vision:</h2>
        <ul>
            <li><strong>White Label Solutions:</strong> Brand the visuals as your own.</li>
            <li><strong>Collaborative Process:</strong> We ensure our designs meet your standards.</li>
        </ul>

        <p class="call-to-action">Don't just list spaces; sell dreams with RoomDesAigner.</p>
        
        <button onclick="window.open('https://cal.com/roomdesaigner/30min', '_blank')" class="buttonExt gradient-animation">Book an Appointment</button>
    </div>
</div>
                      </section> 
              
        
              </div>
         </div>
    
   

<script src="https://use.fontawesome.com/1744f3f671.js"></script>
<script>// vars
'use strict'
var	testim = document.getElementById("testim"),
		testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
    testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
    testimLeftArrow = document.getElementById("left-arrow"),
    testimRightArrow = document.getElementById("right-arrow"),
    testimSpeed = 6500,
    currentSlide = 0,
    currentActive = 0,
    testimTimer,
		touchStartPos,
		touchEndPos,
		touchPosDiff,
		ignoreTouch = 30;
;

window.onload = function() {

    // Testim Script
    function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
            testimContent[k].classList.remove("active");
            testimContent[k].classList.remove("inactive");
            testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = testimContent.length-1;
        }

        if (slide > testimContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            testimContent[currentActive].classList.add("inactive");            
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(testimTimer);
        testimTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, testimSpeed)
    }

    testimLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    testimRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function() {
            playSlide(currentSlide = testimDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    // keyboard shortcuts
    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                testimLeftArrow.click();
                break;
                
            case 39:
                testimRightArrow.click();
                break;

            case 39:
                testimRightArrow.click();
                break;

            default:
                break;
        }
    })
		
		testim.addEventListener("touchstart", function(e) {
				touchStartPos = e.changedTouches[0].clientX;
		})
	
		testim.addEventListener("touchend", function(e) {
				touchEndPos = e.changedTouches[0].clientX;
			
				touchPosDiff = touchStartPos - touchEndPos;
			
				console.log(touchPosDiff);
				console.log(touchStartPos);	
				console.log(touchEndPos);	

			
				if (touchPosDiff > 0 + ignoreTouch) {
						testimLeftArrow.click();
				} else if (touchPosDiff < 0 - ignoreTouch) {
						testimRightArrow.click();
				} else {
					return;
				}
			
		})
}</script>
</body>
</html>
